* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Nunito', sans-serif;
}
/* .active {
  color: rgb(248, 169, 17);
} */
::-webkit-scrollbar {
    display: none;
}